body {
	background-color: #AAD3DF;
	margin: 0;
	padding: 0;
}

h4 {
	font-family: fantasy;
	color: rgb(213, 65, 65);
	text-align: center;
	font-size: 1.3rem;
}

#blocks:empty {
	display: none;
}

h1 {
	font-family: 'Papyrus', 'Georgia', serif;
	text-align: center;
	font-size: 4.8rem;
	margin-top: 2rem;
}

h2 {
	font-family: 'Papyrus', 'Georgia', serif;
	text-align: center;
	font-size: 2.4rem;
	margin-top: 2rem;
}

a {
	color: #6d3d14;
	text-decoration: none;
	font-weight: bold;
}

figure h3 {
	font-size: 2.2rem;
	color: #4e2a00;
	font-family: 'Georgia', serif;
	border-bottom: 2px solid #c69c6d;
	margin-bottom: 0.5rem;
	padding-bottom: 0.3rem;
	letter-spacing: 0.5px;
}

#legend-map {
	height: 500px;
	width: 100vw;
	margin: 0;
	box-shadow: none;
	border: none;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

/* section {
	background-color: #fffef5;
	padding: 1.5rem;
	border: 2px dashed #a67c52;
	border-radius: 12px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	margin: 2rem auto;
	max-width: 1000px;
} */

/* figure {
	display: none;
	background: #fffdf0;
	padding: 1rem;
	border-left: 5px solid #c69c6d;
	margin-bottom: 2rem;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
} */

figure.active {
	display: block;
}

.type {
	font-size: 0.85rem;
	color: #7a5c3e;
	margin-top: 1rem;
	font-style: italic;
}

img {
	max-width: 100%;
	border-radius: 6px;
	margin-top: 1rem;
}

audio,
video {
	width: 100%;
	margin-top: 1rem;
}